.button-with-image {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
    background-color: rgba(35, 94, 74, 1);
    color: #fff;
    border-width: 1.5px;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 320px; /* Set the desired width of the button */
    height: 40px; /* Set the desired height of the button */
    text-align: left; /* Center text inside the button */
  }

  .button-image {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    margin-right: 10px; /* Space between image and text */
  }
  
  .button-text {
    font-size: 12px; /* Adjust font size as needed */
  }
  .button-with-image:hover {
    background-color: rgb(34, 120, 92);
  }
  